---
import BlogCard from "@components/BlogCard.astro";
import Layout from "@layouts/Layout.astro";
import { getCollection } from "astro:content";
const allPosts = await getCollection("blog");
---

<Layout title="Blog Me">
  <ul class="container flex flex-row flex-wrap gap-4">
    {
      allPosts.map((post) => (
        <li>
          <BlogCard post={post} />
        </li>
      ))
    }
  </ul>
</Layout>
