---
import BlogCard from "@components/BlogCard.astro";
import Layout from "@layouts/Layout.astro";
import { getCollection } from "astro:content";
const allPosts = await getCollection("blog");
---

<Layout title="Blog Me">
  <ul>
    {
      allPosts.map((post) => (
        <li>
          <BlogCard post={post} />
          <a href={`/blog/${post.slug}`}>{post.data.title}</a>
        </li>
      ))
    }
  </ul>
</Layout>
