---
import Layout from "@layouts/Layout.astro";
---

<Layout title="Blog Me">
  <p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ex vel ad minus
    modi. Placeat, temporibus! Iste commodi eos ratione assumenda eius adipisci
    sunt distinctio quis doloribus, quaerat laboriosam, architecto illum!
  </p>
</Layout>
