---
import { Image } from "astro:assets";
import HeaderLink from "./HeaderLink.astro";
import Logo from "@images/Tux_Mono.svg";
import Icon from "astro-icon";
---

<nav class="relative pt-2 md:pt-6" transition:persist>
  <!-- Flex container -->
  <div class="flex items-center justify-between">
    <!-- Logo -->
    <div class="pt-2">
      <Image src={Logo} alt="Tux" width="50" height="50" />
    </div>
    <!-- Menu Items 
    Tailwind is mobile-first -->
    <div class="hidden space-x-6 md:flex">
      <a href="/" class="hover:text-pink-500 underline underline-offset-2"
        >About Me</a
      >
      <a href="/blog" class="hover:text-pink-500 underline underline-offset-2"
        >Blog</a
      >
      <a
        href="/rss.xml"
        class="hover:text-pink-500 underline underline-offset-2">RSS-Feed</a
      >
    </div>
    <a
      href="/guides"
      class="baseline hidden rounded-full bg-purple-500 p-3 px-6 py-3 text-white hover:bg-pink-500 md:block"
      >Evil Docs</a
    >
    <a
      href="/admin/index.html"
      class="baseline hidden rounded-full bg-cyan-700 p-3 px-6 py-3 text-white hover:bg-pink-500 md:block"
      >CMS</a
    >

    <button id="theme-toggle">
      <Icon pack="entypo" name="light-up" class="w-8 block dark:hidden" />
      <Icon pack="akar-icons" name="moon" class="w-8 hidden dark:block" />
    </button>
    <!-- Hamburger Icon -->
    <button id="menu-btn" class="hamburger block focus:outline-none md:hidden">
      <span class="hamburger-top"></span>
      <span class="hamburger-middle"></span>
      <span class="hamburger-bottom"></span>
    </button>
  </div>
  <!-- Mobile Menu -->
  <div class="md:hidden">
    <div
      id="menu"
      class="absolute left-6 right-6 mt-10 hidden flex-col items-center space-y-6 self-end py-8 font-bold drop-shadow-md sm:w-auto sm:self-center z-10"
    >
      <a class="hover:text-primary" href="/">About Me</a>
      <a class="hover:text-primary" href="/blog">Blog</a>
      <a class="hover:text-primary" href="/guides">Evil Docs</a>
      <a class="hover:text-primary" href="/admin/index.html">CMS</a>
      <a class="hover:text-primary" href="/rss.xml">RSS-Feed</a>
    </div>
  </div>
</nav>

<!-- 
<nav>
  <ul>
    <HeaderLink href="/" content="Home" icon="ri:home-2-line" />
    <HeaderLink href="/about" content="about" icon="simple-icons:aboutdotme" />
    <HeaderLink href="/blog" content="blog" icon="ph:article-medium-light" />
  </ul>
</nav>

<style>
  nav {
    padding-top: 1.5rem;
    @apply mx-auto w-3/4;
  }
  ul {
    @apply flex flex-row justify-between;
  }
</style> -->
<script defer>
  const btn_menu = document.querySelector("#menu-btn");
  const nav_elem = document.querySelector("#menu");
  const btn_theme = document.querySelector("#theme-toggle");

  const getTheme = () => {
    const storedTheme = localStorage.getItem("theme");
    if (storedTheme) {
      return storedTheme;
    } else {
      const prefersDarkMode = window.matchMedia(
        "(prefers-color-scheme: dark)",
      ).matches;
      return prefersDarkMode ? "dark" : "light";
    }
  };

  const setTheme = (theme) => {
    document.documentElement.classList.remove("light", "dark");
    document.documentElement.classList.add(theme);
    localStorage.setItem("theme", theme);
  };

  window.addEventListener("DOMContentLoaded", () => {
    const theme = getTheme();
    setTheme(theme);
  });

  document.addEventListener("astro:after-swap", () => {
    const theme = getTheme();
    setTheme(theme);
  });

  btn_menu.addEventListener("click", () => {
    btn_menu.classList.toggle("open");
    nav_elem.classList.toggle("flex");
    nav_elem.classList.toggle("hidden");
  });

  const menuLinks = document.querySelectorAll("#menu a");
  menuLinks.forEach((link) => {
    link.addEventListener("click", () => {
      btn_menu.classList.remove("open");
      nav_elem.classList.remove("flex");
      nav_elem.classList.add("hidden");
    });
  });

  btn_theme.addEventListener("click", () => {
    const currentTheme = getTheme();
    const newTheme = currentTheme === "light" ? "dark" : "light";
    setTheme(newTheme);
  });
</script>

<style>
  #menu {
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  }
  /** DarkMode Menu when html.dark */
  html.dark #menu {
    background-color: #1f2937;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  }
  /* Hamburger Menu */
  .hamburger {
    cursor: pointer;
    width: 24px;
    height: 24px;
    transition: all 0.25s;
    position: relative;
    margin-right: 1em;
  }

  .hamburger-top,
  .hamburger-middle,
  .hamburger-bottom {
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 2px;
    background-color: black;
    transform: rotate(0);
    transition: all 0.5s;
  }

  .hamburger-middle {
    transform: translateY(7px);
  }

  .hamburger-bottom {
    transform: translateY(14px);
  }

  .open {
    transform: rotate(90deg);
    transform: translateY(0px);
  }

  .open .hamburger-top {
    transform: rotate(45deg) translateY(6px) translateX(6px);
  }

  .open .hamburger-middle {
    display: none;
  }

  .open .hamburger-bottom {
    transform: rotate(-45deg) translateY(6px) translateX(-6px);
  }
</style>
