---
import HeaderLink from "./HeaderLink.astro";
---

<nav>
  <ul>
    <HeaderLink href="/" content="Home" icon="ri:home-2-line" />
    <HeaderLink href="/about" content="about" icon="simple-icons:aboutdotme" />
    <HeaderLink href="/blog" content="blog" icon="ph:article-medium-light" />
  </ul>
</nav>

<style>
  nav {
    padding-top: 1.5rem;
    margin: 0 auto;
    width: 80%;
    max-width: calc(100% - 2rem);
  }
  ul {
    @apply flex flex-row justify-between;
  }
  @media screen and (min-width: 1200px) {
    nav {
      width: 60%;
    }
  }
</style>
