---
import Header from "@components/Header.astro";
import { ViewTransitions } from "astro:transitions";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <link rel="stylesheet" href="/styles/global.css" />
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"
    ></script>

    <ViewTransitions />
  </head>
  <body
    class="container mx-6 md:mx-auto bg-bglight dark:bg-bgdark dark:text-white"
  >
    <Header />

    <main class="pt-12">
      <h1 class="text-5xl font-bold mb-8" transition:animate="slide">
        {title}
      </h1>
      <slot />
    </main>

    <script>
      declare global {
        interface Window {
          netlifyIdentity: any;
        }
      }

      if (window.netlifyIdentity) {
        window.netlifyIdentity.on("init", function (user: any) {
          if (!user) {
            window.netlifyIdentity.on("login", function () {
              document.location.href = "/admin/";
            });
          }
        });
      }

      // Dark mode
      document.addEventListener("DOMContentLoaded", () => {
        if (
          // todo: add support for saving state of theme toggle switch using local storage
          window.matchMedia &&
          window.matchMedia("(prefers-color-scheme: dark)").matches
        ) {
          // Fügt die 'dark'-Klasse hinzu, wenn der Nutzer Dark Mode bevorzugt
          document.body.classList.add("dark");
        }
      });
    </script>
  </body>
</html>
